{% extends 'base.html' %}

{% block title %}
    Inventory Card Update
{% endblock %} 

{% block content %}
    {% csrf_token %}
    <p>
        <form method="POST" id="inventoryForm" autocomplete="off">
            <div class="row g-3">
                <div class="card col-8 {{theme.border}}">
                    <div class="card-body">
                        <h5 class="card-title">Inventory Card</h5>
                        <div class="row {{theme.justify}} {{theme.align}}">
                            <div class="col-4 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_Code" class="form-label">Code:</label>
                                <input type="text" class="{{theme.textInput}}" name="Code" id="id_Code" value="{{inv.Code}}" readonly>
                            </div>
                            <div class="col-8 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_Code" class="form-label">Name:</label>
                                <input type="text" class="{{theme.textInput}}" name="Name" id="id_Name" value="{{inv.Name}}" required>
                            </div>
                            <div class="col-4 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_Group" class="form-label">Group:</label>
                                <select id="id_Group" class="{{theme.dropdown}}" name="Group" required> 
                                    {% for option in groups %}
                                        <option value="{{option.value}}"
                                            {% if option.value == inv.Group %} selected {%endif%}
                                        > {{option.text}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_UnitType" class="form-label">Unit Type:</label>
                                <select id="id_UnitType" class="{{theme.dropdown}}" name="UnitType" required onchange="getUnitsForGroup(this)">
                                    {% for option in unitTypes %}
                                        <option value="{{option.value}}"
                                            {% if option.value == inv.Unit.Group.Name %} selected {%endif%}
                                        > {{option.text}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_Unit" class="form-label">Unit:</label>
                                <select id="id_Unit" class="{{theme.dropdown}}" name="Unit" required>
                                    {% for option in units %}
                                        <option value="{{option.value}}"
                                            {% if option.value == inv.Unit.Name %} selected {%endif%}
                                        > {{option.text}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-2 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_Audit" class="form-label">Audit:</label>
                                <select id="id_Audit" class="{{theme.dropdown}}" name="AuditReq" required>
                                    {% for option in auditReq %}
                                        <option value="{{option.value}}"
                                            {% if option.value == inv.AuditReq %} selected {%endif%}
                                        > {{option.text}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-2 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_Life" class="form-label">Life:</label>
                                <input type="number" class="{{theme.textInput}}" value="{{inv.Life}}" name="Life" min="0" id="id_Life" required>
                            </div>
                            <div class="col-4 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_LeadTime" class="form-label">Lead Time:</label>
                                <input type="number" class="{{theme.textInput}}" value="{{inv.LeadTime}}" name="LeadTime" min="0" id="id_LeadTime" required>
                            </div>
                            <div class="col-4 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_MinStockLvl" class="form-label">Min Stock Level:</label>
                                <input type="number" class="{{theme.textInput}}" value="{{inv.MinStockLvl}}" name="MinStockLvl" min="0" id="id_MinStockLvl" required>
                            </div>
                            <div class="col-2 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_StandardPrice" class="form-label">Standard Price:</label>
                                <input type="number" class="{{theme.textInput}}" value="{{inv.StandardPrice}}" name="StandardPrice" min="0" id="id_StandardPrice" required>
                            </div>
                            <div class="col-3 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_Currency" class="form-label">Currency:</label>
                                <select id="id_Currency" class="{{theme.dropdown}}" name="Currency" required>
                                    {% for option in currencies %}
                                        <option value="{{option.value}}"
                                            {% if option.value == inv.Currency.Code %} selected {%endif%}
                                        > {{option.text}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-2 g-3 {{theme.align}} {{theme.justify}}">
                                <label for="id_InUse" class="form-label">In Use:</label>
                                <select id="id_InUse" class="{{theme.dropdown}}" name="InUse" required>
                                    {% for option in inUse %}
                                        <option value="{{option.value}}"
                                            {% if option.value == inv.InUse %} selected {%endif%}
                                        > {{option.text}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="button" class="col g-4 {{theme.buttonSecondary}}" onclick="submitForms()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col-4 {{theme.border}}">
                    <div class="card-body">
                        <h5 class="card-title">History</h5>
                    </div>
                </div>
            </div>
        </form>
    </p>

    <script>    //Get the inventory units from the selected groups
        async function getUnitsForGroup (source) {
            const group = source.value;
            const response = await fetch('/options/unit/'+group);
            const units = await response.json();

            const unitSelect = source.parentElement.nextElementSibling.children[1];
            unitSelect.innerHTML = '';
            
            units.forEach(unit => {
                const option = document.createElement('option');
                option.value = unit.value;
                option.text = unit.text;
                unitSelect.appendChild(option);
            });
        }
    </script>

    <script>    //To send data to server
        async function submitForms() {
            const allForms = document.forms;

            const inventoryForm = allForms['inventoryForm']; 

            const inventory = inventoryForm.elements;

            let data = {};
             
            //Prepare the data for Style Group
            let group = 'inventory';
            for (const element of inventory) {
                if (element.name) {
                    data[group+'_'+element.name] = element.value;
                }   
            }
            await submitData(data);
        }

        //Convert data to Json and send to server
        async function submitData(obj) {
            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            
            const data = JSON.stringify(obj);
            
            try {
                const response = await fetch('', {
                    method: 'POST',
                    body: data,
                    headers: { "X-CSRFToken": csrf},
                  });
                if (response.status == 200) {
                    window.location.reload();
                } else {
                    const errorMessage = await response.text()
                    showMessage(errorMessage);
                }
            } catch (error) {
                alert(`Error occured. Check with administrator. Error: ${errorMessage}`);
            }
        }

        function formToTable(group, form, data){
            let rows = form.querySelectorAll('.row');
            //Remove unnecesary rows
            rows = dropElements(rows);

            for (const row of rows) {
                let rowNum = row.getAttribute('row');
                let cols = row.children;
                //Remove unnecessary columns
                cols = dropElements(cols, cols.length-1, cols.length-1);

                for (const col of cols) {
                    name = col.firstElementChild.name+'_'+rowNum;
                    value = col.firstElementChild.value;
                    data[group+'_'+name] = value;                    
                }
            }
            return data;
        }

        function dropElements(obj, startFrom=0, endAt=0) {
            const arr = Object.values(obj);

            arr.splice(startFrom, endAt - startFrom + 1);

            return arr;
        }

    </script>

{% endblock %}