{% extends 'base.html' %}

{% block title %}
    Inventory Cards
{% endblock %}

{% block content %}
  <div class="{{theme.border}}">
    <p>
      <div class="row g-3 {{theme.justify}} {{theme.align}}">
        <div class="col-6">
          <form action="{% url 'Inv' %}" method="get" class="row">
            <div class="col-6 {{theme.textJustify}}">
                <select name="groupFilter" onchange="this.form.submit()" class="{{theme.dropdown}}">
                  <option value="">  ---------  </option>
                  {% for data in groups %}
                    <option value="{{ data }}"
                      {% if data == selectedGroup %}
                        selected
                      {% endif %}>
                      {{ data }}
                    </option>
                  {% endfor %}
                </select>
            </div>
            <div class="col-6 {{theme.textJustify}}">
              <select name="stockFilter" onchange="this.form.submit()" class="{{theme.dropdown}}">
                <option value="ALL" {% if stockFilter == 'ALL' %} selected{% endif %}>  All  </option>
                <option value="InStock" {% if stockFilter == 'InStock' %} selected{% endif %}>  In Stock  </option>
                <option value="Free" {% if stockFilter == 'Free' %} selected{% endif %}>  Free Stock  </option>
              </select>
            </div>
            <input type="hidden" name="search_term" value="{{ searchTerm }}">
          </form>
        </div>
        <div class="col btn-group {{theme.textJustify}}">
          <a class="{{theme.buttonBasic}}" href="/inv/add" role="button" target="_blank">Add Card</a>
          <a id="copyCardButton" class="{{theme.buttonBasic}}" role="button" target="_blank">Copy Card</a>
          <a id="editCardButton" class="{{theme.buttonBasic}}" role="button" target="_blank">Edit Card</a>
          <a id="deleteCardButton" class="{{theme.buttonBasic}}" role="button">Delete Card</a>
        </div>
      </div>
    </p>
    <p>
      <div class="row g-0 {{theme.justify}} {{theme.align}}">
        <div class="col col-md-10 {{theme.textJustify}}">
          <form action="{% url 'Inv' %}" method="get">
            <input type="text" class="{{theme.textInput}} w-100" name="search_term" placeholder="Search inventory" value="{{searchTerm}}">
            <input type="hidden" name="groupFilter" value="{{ selectedGroup }}">
            <input type="hidden" name="stockFilter" value="{{ stockFilter }}">
        </div>
        <div class="col col-md-2 {{theme.textJustify}}">
            <button type="submit" class="{{theme.buttonBasic}}">
              Search
            </button>
          </form> 
        </div>
      </div>
    </p>
  </div>

  <div id ="inv_Table">   
    <table class="{{theme.table}}">  
      <tr class = "{{theme.tableHead}}">
        <th scope="col">Select</th>
        <th scope="col">Inventory Code</th>
        <th scope="col">Inventory Name</th>
        <th scope="col">Group</th>
        <th scope="col">Unit</th>
        <th scope="col">In Use?</th>  
        <th scope="col">Stock Level</th> 
        <th scope="col">Free Stock</th>      
      </tr>
      <tbody id="tableData" class = "{{theme.tableBody}}">
        {% for data in inv %}
          <tr>
            <td><input type="radio" name="item_checkbox"></td>
            <td class="code">{{ data.Code }}</td>
            <td>{{ data.Name }}</td>
            <td>{{ data.Group }}</td>
            <td>{{ data.Unit }}</td>
            <td>{% if data.InUse %}
                Yes
                {% elif data.InUse == '' %}
                {% else %}
                No
                {% endif %}
            </td>
            <td>{{ data.StockLevel }}</td>
            <td>{{ data.FreeStock }}</td>
          </tr>     
        {% endfor %}    
      </tbody>
    </table>
  </div>

  <div class="pagination align-items-center">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}&groupFilter={{ selectedGroup }}&search_term={{ searchTerm }}"
        style="margin-right: 10px;">
        Previous
      </a>
    {% endif %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}&groupFilter={{ selectedGroup }}&search_term={{ searchTerm }}"
        style="margin-right: 10px;">
        Next
      </a>
    {% endif %}

    || &nbsp
    
    {% if page_obj.has_previous %}
      <a href="?page=1&groupFilter={{ selectedGroup }}&search_term={{ searchTerm }}"
        style="margin-right: 10px;">
        First
      </a>
    {% endif %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.paginator.num_pages }}&groupFilter={{ selectedGroup }}&search_term={{ searchTerm }}" 
        style="margin-right: 10px;">
        Last
      </a>
    {% endif %}
    
    <form action="" method="get">
      <select name="page" onchange="this.form.submit()" class="form-select-font-size: 5px;">
        {% for page_num in page_obj.paginator.page_range %}
          <option value="{{ page_num }}" 
            {% if page_num == page_obj.number %}
              selected
            {% endif %}>
              {{ page_num }}
          </option>
        {% endfor %}
      </select>
      <input type="hidden" name="groupFilter" value="{{ selectedGroup }}">
      <input type="hidden" name="search_term" value="{{ searchTerm }}">
    </form>
  </div>

  <script>
      //This functions changes the edit card button based on selection in radio
      $("#tableData").on("click", "input[type='radio']", function() { 
          //Get the code against seletion
          const selectedCode = $(this).closest("tr").find("td.code").text();

          //Find and link the edit card button to the selected code
          var button = $("#copyCardButton");           
          button.attr("href", "/inv/" + selectedCode + "/copy");
          
          button = $("#editCardButton");           
          button.attr("href", "/inv/" + selectedCode + "/edit");

          button = $("#deleteCardButton");
          button.attr("href", "/inv/" + selectedCode + "/delete");
      });          
  </script>
{% endblock %}