{% extends 'prodManagement/base.html' %}

{% block title %}
    Copying Style
{% endblock title %}

{% block content %}
    <div class="{{theme.border}}">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="grid grid-cols-9 {{theme.justify}} {{theme.align}}">
                <div class="flex flex-col col-[1/5] items-center">
                    <span class="text-sm text-gray-500 mb-1">Source:</span>
                    <input type="text" class="{{theme.textInput}}" name="source" value="{{source.StyleCard.StyleCode}}" readonly>
                </div>
                <div class="flex flex-col col-[5/9] items-center">
                    <span class="text-sm text-gray-500 mb-1">Target:</span>
                    <select id="id_Style" class="{{theme.dropdown}}" name="target" onclick="showSearchBox(this, '/producitivty/bulletin/styles/missing')" required>
                    </select>
                </div>
                <div class="flex col-[9/10] btn-group {{theme.align}} justify-end ml-1">
                    <button type="submit" class="{{theme.buttonBasic}}">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}