{% extends 'base.html' %}

{% block title %}
    Purchase Order Update
{% endblock %} 

{% block content %}
    {% csrf_token %}                        <!--This is to protect against CSRF attacks-->
    
    <!-- The main Order form-->
    <p>
        <form method="POST" id="orderForm" autocomplete="off">
            <div class="row g-3 bg-info {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="col col-md-2 d-flex {{theme.align}} {{theme.justify}}">
                    <label>PO:&nbsp; </label>
                    <input type="text" class="{{theme.textInput}}" value="{{order.PONumber}}" name="PONumber" id="orderNumber" readonly>
                </div>
                <div class="col col-md-3 d-flex {{theme.align}} {{theme.justify}}">
                    <label>Supplier:&nbsp; </label>
                    <select id="id_Supplier" class="{{theme.dropdown}}" name="Supplier"> </select>
                </div>
                <div class="col col-md-2 d-flex {{theme.align}} {{theme.justify}}">
                    <label>Order Date:&nbsp; </label>
                    <input type="text" class="{{theme.textInput}}" value="{{order.OrderDate|date:'m/d/Y'}}" name="OrderDate" id="orderDate">
                </div>
                <div class="col col-md-2 d-flex {{theme.align}} {{theme.justify}}">
                    <label>Delivery Date:&nbsp; </label>
                    <input type="text" class="{{theme.textInput}}" value="{{order.DeliveryDate|date:'m/d/Y'}}" name="DeliveryDate" id="deliveryDate">
                </div>
                <div class="col col-md-1 d-flex {{theme.align}} {{theme.justify}}">
                    <label>Tax:&nbsp; </label>
                    <input id="id_Tax" type="number" class="{{theme.textInput}}" value="{{order.Tax}}" name="Tax">
                    <input type="text" id="allocInvCode" name="allocationInvCode" value="" class="" hidden>
                </div>
                <div class="col col-md-2 btn-group {{theme.align}} {{theme.textJustify}}">
                    <button id="submit" class="{{theme.buttonSecondary}}" onclick="submitForms()" type="button">          <!--Save Button-->
                        Save
                    </button>
                    <button id="print" class="{{theme.buttonSecondary}}" onclick="showSelectionBox()" type="button">
                        Print
                </div>
            </div>
        </form>
    </p>

    <!-- Order Inventory Table -->
    <div id="inventoryTable" name="invTable">
        <form method="POST" id="inventoryForm" autocomplete="off">
            <div class="row mt-3 {{theme.justify}} {{theme.textJustify}} bg-dark text-white" row="0">
                <div class="col col-md-4">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Inventory Code
                    </div>
                </div>
                <div class="col col-md-1">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Variant
                    </div>
                </div>
                <div class="col col-md-2">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Quantity
                    </div>
                </div>
                <div class="col col-md-1">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Price
                    </div>
                </div>
                <div class="col col-md-2">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Currency
                    </div>
                </div>
                <div class="col col-md-1">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Forex
                    </div>
                </div>
                <div class="col col-md-1">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Actions
                    </div>
                </div>
            </div>
            {% for data in inv %}
                <div class="row mt-1 {{theme.justify}} {{theme.textJustify}}" row="{{forloop.counter}}">
                    <div class="col col-md-4" chosen="true">
                        <select class="{{theme.dropdown}}" id="id_InventoryCode_{{forloop.counter}}" name="InvCode">
                        </select>
                    </div>
                    <div class="col col-md-1">
                        <input type="text" class="{{theme.textInput}}" value="{{data.Variant}}" name="Variant">
                    </div>
                    <div class="col col-md-2">
                        <input type="number" class="{{theme.textInput}}" min="0" value="{{data.Quantity}}" name="Quantity"
                        onclick="setMinQty(this)" onchange="setMinQty(this)">
                    </div>
                    <div class="col col-md-1">
                        <input type="number" class="{{theme.textInput}}" value="{{data.Price}}" name="Price">
                    </div>
                    <div class="col col-md-2">
                        <select class="{{theme.dropdown}}" id="id_Currency_{{forloop.counter}}" name="Currency">
                        </select>
                    </div>
                    <div class="col col-md-1">
                        <input type="number" class="{{theme.textInput}}" value="{{data.Forex}}" name="Forex">
                    </div>
                    <div class="col col-md-1">
                        <button class="{{theme.plusButton}}" type="button" onclick="openAllocation(this)">
                            <span class="material-symbols-outlined">more_vert</span>
                        </button>
                        <button class="{{theme.plusButton}}" type="button" onclick="addRow(this)">
                            <span>+</span>
                        </button>
                        <button class="{{theme.minusButton}}" type="button" onclick="removeRow(this)">
                            <span>-</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>

    <!--Allocation dialog box-->
    <form method="POST" id="allocationForm" autocomplete="off">
        <div class="modal fade" id="allocationTable" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="{{theme.dialogBox}}">
                <div class="modal-content">
                    <div class="{{theme.dialogBoxHeader}}">
                        <div class="{{theme.dialogBoxTitle}}" id="modalLabel">
                            Allocation
                        </div>
                    </div>
                    <div class="{{theme.dialogBoxBody}}">
                        <div class="row mt-3 {{theme.justify}} {{theme.textJustify}} bg-dark text-white" row="0">
                            <div class="col col-md-5">
                                <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                                    Order#
                                </div>
                            </div>
                            <div class="col col-md-4">
                                <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                                    Quantity
                                </div>
                            </div>
                            <div class="col col-md-2">
                                <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                                    Actions
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1 {{theme.justify}} {{theme.textJustify}}" row="1">
                            <div class="col col-md-5" chosen="true">
                                <select class="{{theme.dropdown}}" id="id_WorkOrder_1" name="WorkOrder" onchange="getDefaultQty(this)"></select>
                            </div>
                            <div class="col col-md-4">
                                <input type="number" class="{{theme.textInput}}" value="" name="Quantity" min="0" onchange="changeQty()">
                            </div>
                            <div class="col col-md-2">
                                <button class="{{theme.plusButton}}" type="button" onclick="addRow(this)">
                                    <span>+</span>
                                </button>
                                <button class="{{theme.minusButton}}" type="button" onclick="removeRow(this)">
                                    <span>-</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="{{theme.dialogBoxFooter}}">
                        <label>Total Qty:&nbsp; </label>
                        <div id="totalQuantity"></div>

                        <label>|| Allocted Qty:&nbsp; </label>
                        <div id="allocatedQuantity"></div>

                        <label>|| Free Qty:&nbsp; </label>
                        <div id="freeQuantity"></div>
                        
                        <button type="button" class="{{theme.buttonSecondary}}" data-bs-dismiss="modal" onclick="closeAllocation()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script> //To run when the page loads
        window.addEventListener('load', async () => {
            //Show loading icon to users
            showLoadingIcon();

            //Styles Dropdown
            let response = await fetch('/options/suppliers');
            const styles = await response.json();
            await appendOptions('id_Supplier', styles, "{{order.Supplier}}");
            //Since this dropdown is not part of a table, we need manually apply search box
            $("#id_Supplier").chosen({
                search_contains: true,
                width: "100%"
            });

            response = await fetch('/options/workorders');
            const workOrders = await response.json();
            await appendOptions('id_WorkOrder_1', workOrders);

            //Inventory data, that was passed as JSON from view
            const inventoryData = {{ invJson|safe }};

            //Inventory Cards dropdowns
            response = await fetch('/options/inventories');
            const inventories = await response.json();

            //Apply the relevant dropdowns on all rows of consumption
            for (const [index, data] of inventoryData.entries()) {
                await appendOptions(`id_InventoryCode_${index+1}`, inventories, data.Inventory);
            }

            //Currency dropdowns
            response = await fetch('/options/currencies');
            const currencies = await response.json();

            //Apply the relevant dropdowns on all rows of consumption
            for (const [index, data] of inventoryData.entries()) {
                await appendOptions(`id_Currency_${index+1}`, currencies, data.Currency);
            }

            addSearchBox();

            //Remove loading animation
            hideLoadingIcon();
        });
    </script>

    <script>    //To handle allocation box
        async function openAllocation(source) {
            showLoadingIcon();
            //Get the inventory and variant code.
            const inventoryCode = source.parentElement.parentElement.children[0].children[0].value;
            const variant = source.parentElement.parentElement.children[1].children[0].value;

            //Show error to user if inventory is not selected
            if (inventoryCode=='' || inventoryCode=='null') {
                alert('Select an inventory.');
                return ;
            }

            //Get url path, which will contain the PO number
            const urlPath = new URL(window.location.href).pathname;

            //get the allocation from server.
            const allocation = await getAllocation(inventoryCode, variant, urlPath);

            //Get the format of the allocation table
            const allocationTable = document.getElementById('allocationTable');

            const title = allocationTable.querySelector('.modal-header');
            console.log(title);
            title.textContent += ` ${inventoryCode} ${variant}`;
            
            if (allocation != null) {
                const allocationArea = allocationTable.querySelector('.modal-body');

                const previousRows = allocationArea.children;

                for (let i=previousRows.length - 1; i>1; i--) {
                    previousRows[i].remove();
                }
                delete previousRows;

                const firstRowPlusButton = allocationArea.children[1].children[2].children[0];

                for (let i=1; i<allocation.length; i++) {
                    addRow(firstRowPlusButton);
                }
                delete firstRowPlusButton;
                
                const rows = allocationArea.children;
                removeSearchBox();
                for (let i=1; i<rows.length; i++) {
                    const workOrderBox = rows[i].children[0].children[0];
                    workOrderBox.value = (allocation[i-1].WorkOrder);

                    const qtyBox = rows[i].children[1].children[0];
                    qtyBox.value = (allocation[i-1].Quantity);

                }
                addSearchBox();
            }

            //The dummy box that contains inventory the currently selected inventory code
            const referenceBox = document.getElementById('allocInvCode');
            referenceBox.value = inventoryCode+'_'+variant;

            //Get the total quantity
            const totalQty = parseFloat(source.parentElement.parentElement.children[2].children[0].value);

            //Get the footer to set the summary
            const footer = allocationTable.children[0].children[0].children[2];

            //Set the value of total quantity.
            const totalQtyBox = footer.querySelector('#totalQuantity');
            totalQtyBox.textContent = totalQty.toFixed(2);

            //Set the value of allocated quantity
            const allocQtyBox = footer.querySelector('#allocatedQuantity');
            allocQtyBox.textContent = 0;

            //Set the value of free qty to the difference of total and allocated quantity
            const freeQtyBox = footer.querySelector('#freeQuantity');
            freeQtyBox.textContent = totalQty;
            
            //convert the table to a bootstrap modal and show it to user.
            new bootstrap.Modal(allocationTable).show();

            changeQty();

            hideLoadingIcon();
        }

        function changeQty() {
            //Get the modal
            const dialogBox = document.getElementById('allocationTable').children[0].children[0];
            
            //Get all the rows in an array
            const rows = Array.from(dialogBox.children[1].children);
            
            //Remove header row
            rows.shift();

            let allocQty = 0.0;

            for (const row of rows) {
                //Get the first column
                const quantity = parseFloat(row.children[1].children[0].value);
                if (quantity) {
                    allocQty = allocQty + quantity;
                }
            }
            allocQty = allocQty.toFixed(2);

            const footer = dialogBox.children[2];
            
            const totalQty = parseFloat(footer.querySelector('#totalQuantity').textContent);
            const allocatedQtyBox = footer.querySelector('#allocatedQuantity');
            const freeQtyBox = footer.querySelector('#freeQuantity');

            allocatedQtyBox.textContent = allocQty;
            freeQtyBox.textContent = (totalQty - allocQty).toFixed(2);
        }

        async function getAllocation(inventoryCode, variant, urlPath) {
            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            
            const obj = {'inventoryCode':inventoryCode, 'variant':variant, 'urlPath':urlPath};
            const data = JSON.stringify(obj);

            const response = await fetch('alloc/get', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf},
            });

            return response.json();
        }

        async function closeAllocation() {
            //Get the selected inventory code and variant
            const invCodeVariant = document.getElementById('allocInvCode').value;
            const parts = invCodeVariant.split('_');
            const invCode = parts[0];
            const variant = parts[1];

            //Get the total allocated qty.
            const footer = document.getElementById('allocationTable').children[0].children[0].children[2];
            const allocatedQty = parseFloat(footer.querySelector('#allocatedQuantity').textContent);

            //Get the rows of inventory table.
            const InvTableRows = Array.from(document.getElementById('inventoryTable').children[0].children);
            InvTableRows.splice(0,1);
            
            for (const row of InvTableRows) {
                const invBox = row.children[0].children[0];
                const varBox = row.children[1].children[0];
                const qtyBox = row.children[2].children[0];
                
                if (invBox.value == invCode && varBox.value == variant) {
                    const totalQty = parseFloat(qtyBox.value);

                    if (totalQty < allocatedQty) {
                        qtyBox.value = allocatedQty;
                    }
                }
            }
            await submitForms();
        }
    </script>

    <script>    //To get the default qty of work order in alloc box
        async function getDefaultQty(source) {
            const workOrder = source.value;

            const allocInvVar = document.getElementById('allocInvCode').value;

            const poNumber = document.getElementById('orderNumber').value;

            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            const obj = {'invVar':allocInvVar, 'workOrder':workOrder, 'poNumber':poNumber};
            const data = JSON.stringify(obj);

            const response = await fetch('/purchaseorder/defaultqty/get', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf},
            });

            const qty = await response.json();
            
            const qtyBox = source.parentElement.parentElement.children[1].children[0];

            qtyBox.value = qty;

            changeQty();
        }
    </script>

    <script>    //To not let users enter incorrect qty in po.
        async function setMinQty(qtyBox) {
            const row = qtyBox.parentElement.parentElement;

            const invCode = row.children[0].children[0].value;
            const variant = row.children[1].children[0].value;

            const poNumber = document.getElementById('orderNumber').value;
            
            const allocatedQty = await getAllocQty(invCode, variant, poNumber);

            qtyBox.min = allocatedQty;

            if (qtyBox.value < allocatedQty) {
                qtyBox.value = allocatedQty;
            }
        }

        async function getAllocQty(invCode, variant, poNumber) {
            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            const obj = {'invCode':invCode, 'variant':variant, 'poNumber':poNumber};
            const data = JSON.stringify(obj);

            const response = await fetch('/purchaseorder/allocatedqty/get', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf},
            });

            return await response.json();
        }
    </script>

    <script> //To print the PO
        function showSelectionBox() {
            const options = [
                {'value':'SUP', 'text':'For Supplier'},
                {'value':'ACC', 'text':'For Accounts'},
            ];
            const selectedOption = 'SUP';

            showDropDown(options, printPO, selectedOption);
        }
        async function printPO() {            
            showLoadingIcon();

            //Get the foramt selected by user
            const dialogBox = document.getElementById('dropdown');
            const selectedFormat = dialogBox.children[0].children[0].children[1].children[0].children[0].value;

            const poBox = document.getElementById('orderNumber');
            const poNumber = parseInt(poBox.value);
            
            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            const obj = {'format':selectedFormat};
            const data = JSON.stringify(obj);

            const response = await fetch('/purchaseorder/'+poNumber+'/print', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf, "Accept": "application/pdf"},
            });
            
            if (response.ok) {
                const pdfBlob = await response.blob();

                const pdfURL = URL.createObjectURL(pdfBlob);

                const win = window.open(pdfURL, '_blank');

                win.onafterprint = function() {
                    URL.revokeObjectURL(pdfURL);
                };
            } else {
                errorMessage = await response.text();
                showMessage(errorMessage);
            }            

            hideLoadingIcon();
        }
    </script>

    <script> //To send data to server
        function submitForms() {
            const allForms = document.forms;

            const orderForm = allForms['orderForm']; 
            const inventoryForm = allForms['inventoryForm'];
            const allocationForm = allForms['allocationForm'];
            
            const order = orderForm.elements;

            let data = {};
             
            //Prepare the data for Style Group
            let group = 'order';
            for (const element of order) {
                if (element.name) {
                    data[group+'_'+element.name] = element.value;
                }   
            }

            //Prepare the data for inventory Group
            data = formToTable('inventory', inventoryForm, data);

            //Prepare the data for alocaiton Group
            data = formToTable('allocation', allocationForm, data);
            
            submitData(data)
        }

        //Convert data to Json and send to server
        async function submitData(obj) {
            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            
            const data = JSON.stringify(obj);
            
            //console.log (csrf);
            const response = await fetch('', {
              method: 'POST',
              body: data,
              headers: { "X-CSRFToken": csrf},
            });
            if (response.status == 200) {
                location.reload();
            } else {
                const errorMessage = await response.text();

                showMessage(errorMessage);
            }
        }

        function formToTable(group, form, data){
            let rows = form.querySelectorAll('.row');
            //Remove unnecesary rows
            rows = dropElements(rows);

            for (const row of rows) {
                let rowNum = row.getAttribute('row');
                let cols = row.children;
                //Remove unnecessary columns
                cols = dropElements(cols, cols.length-1, cols.length-1);

                for (const col of cols) {
                    name = col.firstElementChild.name+'_'+rowNum;
                    value = col.firstElementChild.value;
                    data[group+'_'+name] = value;               
                }
            }
            return data;
        }

        function dropElements(obj, startFrom=0, endAt=0) {
            const arr = Object.values(obj);

            arr.splice(startFrom, endAt - startFrom + 1);

            return arr;
        }
    </script>

    <script> //To run at the start of the page. This should be at the end of the page.
        $('#orderDate').datepicker();
        $('#deliveryDate').datepicker();
    </script>
{% endblock %}