<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="icon" href="{% static 'Logo 3x.png' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <title>
            Fashion OS
        </title>
    </head>
    
    <body>
        <!--Navigation Bar-->
        <div class="bg-gray-800 text-white p-4">
            <div class="container mx-auto flex justify-between items-center">
            <ul class="flex space-x-4">
            </ul>
            <ul class="flex space-x-4 items-center">
                {% if user.is_authenticated %}
                <span class="text-gray-300">Logged in as {{user.first_name}} |</span>
                <li>
                    <a href="/logout" class="hover:text-gray-300">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="/login" class="hover:text-gray-300">Login</a>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>

        <!--Main Content-->
        <div class="container mx-auto mt-5">
            <div class="flex justify-center space-x-4">
                <a href="/apparel" class="border-4 border-black">
                    <img src="{% static 'Procurement.png' %}" alt="Procurement" class="h-[350px]">
                </a>
                <a href="/quality" class="border-4 border-black">
                    <img src="{% static 'Quality Control.png' %}" alt="Quality Control" class="h-[350px]">
                </a>
                <a href="/production" class="border-4 border-black">
                    <img src="{% static 'Production.png' %}" alt="Production" class="h-[350px]">
                </a>
            </div>
            <div class="flex justify-center mt-4">
                <a href="/marketing" class="border-4 border-black">
                    <img src="{% static 'Marketing.png' %}" alt="Marketing" class="h-[350px]">
                </a>
            </div>
        </div>
    </body>
</html>