<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="icon" href="{% static 'Logo 3x.png' %}" />

    <!-- Tailwind & DaisyUI -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: 'media',
        theme: {
          extend: {},
        },
      };
    </script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet" />

    <!-- JQuery & UI -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <!-- Icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <style>
      .material-symbols-outlined {
        font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 20;
        font-size: 14px;
        cursor: pointer;
      }
    </style>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <title>{% block title %} Fashion OS {% endblock %}</title>
  </head>

  <body class="font-sans bg-base-200 text-base-content">

    <!-- Navigation Bar -->
    <div class="navbar bg-base-100 shadow-md px-4 py-2 z-10 sticky top-0">
      <div class="navbar-start">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/quality">Dashboard</a></li>

          <li class="dropdown dropdown-hover">
            <label tabindex="0" class="cursor-pointer">Fabric</label>
            <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
              <!-- Dropdown content for Fabric -->
            </ul>
          </li>

          <li class="dropdown dropdown-hover">
            <label tabindex="0" class="cursor-pointer">Trims</label>
            <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><a href="{% url 'pendingTrimAudit' %}">Pending Audits</a></li>
              <li><a href="{% url 'trimAudit' %}">Audit History</a></li>
            </ul>
          </li>

          <li class="dropdown dropdown-hover">
            <label tabindex="0" class="cursor-pointer">Production</label>
            <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
              <!-- Dropdown content for Production -->
            </ul>
          </li>
        </ul>
      </div>

      <div class="navbar-end">
        <ul class="menu menu-horizontal px-1 items-center">
          {% if user.is_authenticated %}
          <li><span>Logged in as {{ user.first_name }}</span></li>
          <li><a href="/logout" class="hover:text-primary">Logout</a></li>
          {% else %}
          <li><a href="/login" class="hover:text-primary">Login</a></li>
          {% endif %}
          <li><a href="/" class="hover:text-primary">Go to Main</a></li>
        </ul>
      </div>
    </div>

    <!-- Message Box -->
    <div id="message-container" class="text-center"></div>

    <!-- Main Body -->
    <main class="p-4 container mx-auto">
      {% block content %}{% endblock %}
    </main>

    <!-- Loading Animation -->
    <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" id="loadingIcon" hidden>
      <span class="loading loading-spinner loading-lg text-primary"></span>
    </div>

    <!-- Modal Dropdown -->
    <div id="dropdown" class="fixed inset-0 z-50 hidden overflow-y-auto">
      <div class="flex items-center justify-center min-h-screen px-4 text-center">
        <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75" aria-hidden="true"></div>

        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div class="relative inline-block overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
          <div class="bg-white p-6">
            <h3 class="text-lg font-medium leading-6 text-gray-900" id="modalLabel">
              Select an Option
            </h3>

            <div class="mt-2">
              <select id="id_selectDropDown" class="select select-bordered w-full mt-2"></select>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button type="button" id="okButton" class="btn btn-outline btn-primary">
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Timepicker -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <script>    //To add the options for selects
      async function appendOptions (elementId, options, selected=null) {
          try {
            const element = document.getElementById(elementId);    
            element.innerHTML = ''; 

            const fragment = document.createDocumentFragment();

            options.forEach(optionData => {
              const option = document.createElement('option');
              option.text = optionData.text;
              option.value = optionData.value;
              if (optionData.value == selected) {
                  option.selected = true;
              }
              fragment.appendChild(option);
            });
    
            element.appendChild(fragment);
          } catch (error) {
            showMessage(`An Error occured: `+error);
          }
      }
    </script>

    <script>    //To show message to a user
      function showMessage(message, timeOut = 3) {
        //Get the container element
        const messageContainer = document.getElementById('message-container');

        // Create a new alert element
        const messageElement = document.createElement('div');
        //Set the correct bootstap class
        messageElement.classList.add('alert', 'alert-dismissible', 'fade', 'show');
        messageElement.setAttribute('role', 'alert');
        
        //Add a the message and close button to the message.
        messageElement.innerHTML = `
            <span>${message}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        `;

        //Add the message element to the container
        messageContainer.appendChild(messageElement);

        //close the message automatically after given number of seconds
        setTimeout(() => {
            const bsAlert = new bootstrap.Alert(messageElement);
            bsAlert.close();
          },
          timeOut * 1000
        );
      }
    </script>

    <script>  //To show/hide loading icon to user
      function showLoadingIcon(top=100, left=10, zIndex=9999) {
        const loadingIcon = document.getElementById('loadingIcon');

        loadingIcon.style.top = `${top}px`;
        loadingIcon.style.left = `${left}px`;
        loadingIcon.style.zIndex = zIndex;

        loadingIcon.removeAttribute('hidden');
      }

      function hideLoadingIcon() {
        const loadingIcon = document.getElementById('loadingIcon');

        loadingIcon.setAttribute('hidden','');
      }
    </script>

    <script>  //To show options dialogue box
      function showDropDown(options, onOkFunction, selected=null, searchBox=false) {
        const dialogBox = document.getElementById('dropdown');

        const dropdown = dialogBox.children[0].children[0].children[1].children[0].children[0];
        dropdown.innerHTML = '';

        for (const option of options) {
          const newOption = document.createElement('option');
          newOption.text = option.text;
          newOption.value = option.value;

          if (newOption.value === selected) {
            newOption.selected = true;
          } else {
            newOption.selected = false;
          }
          dropdown.appendChild(newOption);
        }

        //Set the function to call whent the OK button is called
        const okButton = dialogBox.children[0].children[0].children[2].children[0];
        okButton.onclick = onOkFunction;

        if (searchBox) {
          if ($(dropdown).hasClass("chosenSelect")) { // Check if Chosen is already initialized
            $(dropdown).trigger("chosen:updated"); // If so, just update
          } else {
              $(dropdown).chosen({
                  search_contains: true,
                  width: "100%"
              }).addClass("chosenSelect"); //Add a class to check if it has been initalized
          }
        }

        //convert the table to a bootstrap modal and show it to user.
        new bootstrap.Modal(dialogBox).show();
      }
    </script>

    <script>  //To add or remove rows from tables 
      async function addRow (source) {
        //Remove the search box from elements
        removeSearchBox();
        
        const rowToCopy = source.parentElement.parentElement;
        const tableData = rowToCopy.parentElement     //Fetch the table body
        
        const copy = rowToCopy.cloneNode(true);     //Create a copy of the row

        // Clear written text that the copy got from source row
        for (const child of copy.children) {
          //Get the type of element in row
          const tag = child.children[0].tagName;

          if (tag === 'INPUT') {
            //Set the value to blank if it is an input box
            child.children[0].value = '';
          } else if (tag === 'SELECT') {
            //deselect all options if it is a selection box
            child.children[0].selectedIndex = -1;
          }
        }
        
        //Insert the row after the clicked row
        tableData.insertBefore(copy, rowToCopy.nextSibling);
        
        //Change the serial numbers of the button for future usage
        const rows = tableData.children;
        for (let i=0;i<rows.length;i++) {
            rows[i].setAttribute("row",i);
        }
        
        addSearchBox();

        //Reset the sequence in any column named Sequence
        const sequences = tableData.querySelectorAll('[name*="Sequence"]')
        let previousSequence = 0;
        for (const sequence of sequences) {
            sequence.value = previousSequence+1;
            previousSequence = parseInt(sequence.value);
        }
      }

      async function removeRow (source, minRows = 0 ) {
        const tableData = source.parentElement.parentElement.parentElement;     //Fetch the table body   
        
        //Don't delete the row if it is the only one
        if (tableData.children.length < (minRows+3)) {
            alert("This is the last row. You cannot delete it!");
            return ;
        }

        const rowToRemove = source.parentElement.parentElement;    //Fetch the row out of the table
        const rowNum = parseInt(rowToRemove.getAttribute('row'));

        let dataFlag = false;               //Flag to check if there is data in the row

        const inputs = rowToRemove.querySelectorAll ("input");      //All the columns with inputs
        const selects = rowToRemove.querySelectorAll ("select");    //All the columns with selection options
        const combined = [...inputs, ...selects];                 //Combined inputs and selects

        for (const element of combined) {
            const deletable = element.parentElement.getAttribute("deletable") === "true";
            if (element.value && !deletable) {  
                dataFlag = true;                            //Set flag true if there is data in an element
                break;    
            }
        }
        
        if (dataFlag) {                 //Give warining if the dataflag is true.
            const removeFlag = confirm("There is data here. Are you sure you want to remove it?");
            if (!removeFlag) {          //User doesn't select OK.
                return ;
            }
        }

        rowToRemove.remove();           //Remove the row

        //Reset the serial in the buttons below the deleted row
        let rows = tableData.children;
        for (let i=rowNum;i<rows.length;i++) {
            rows[i].setAttribute("row",i);
        }

        //Reset the sequence in any column named Sequence
        const sequences = tableData.querySelectorAll('[name*="Sequence"]')
        let previousSequence = 0;
        for (const sequence of sequences) {
            sequence.value = previousSequence+1;
            previousSequence = parseInt(sequence.value);
        }
      }
    </script>

    <script>  //To add or remove search box
      function removeSearchBox() {
        //The keyword that is common in all search boxes
        const keyword = "chosen";
        //Get elements that contain the key word.
        const searchBoxNodes = document.querySelectorAll(`[${keyword}*='true']`);

        //Remove the search box from 
        for (const node of searchBoxNodes) {
            //Get the id of the seletion element
            const selectId = node.children[0].id;
            
            //Get the id of the selection box associated with selection element. It'll always be selectid_keyword
            const boxId = selectId+"_"+keyword;
    
            //Remove the selection box and destroy the script associated with it.
            document.getElementById(boxId).remove();
            $("#"+selectId).chosen("destroy"); 
        }
      }
      
      async function addSearchBox() {
        //The keyword that is common in all search boxes
        const keyword = "chosen";
        //Get elements that contain the key word.
        const searchBoxNodes = document.querySelectorAll(`[${keyword}*='true']`);

        //Add search box to all nodes
        for (const node of searchBoxNodes) {
          //Get the row number of the element
          const row = node.parentElement.getAttribute("row")
          //Get the drop down inside the element
          const dropdown = node.children[0];
          
          //Get the id of the drop down. To make it unique, we preset it in the format column_row.
          let id = dropdown.getAttribute("id");
          
          //Get the position of the last _ in the id.
          const trimAfter = id.lastIndexOf("_");

          //If _ exists and isn't at start of id, get the part after _.
          if (trimAfter > 2) {
            id = id.substring(0, trimAfter);
          }
          
          //Set the id to new row number and set it on the dropdown
          id = `${id}_${row}`;
          dropdown.setAttribute('id', id);

          //Apply the search box on the element, with the new ID.
          $("#"+id).chosen({
            search_contains: true,
            width: `93%`
          });
        }
      }
    </script>

    <script> //To handle warning for unsaved data
      //The if is in response to a bug, where it wouldn't define unsavedDataFlag while replacing html
      if (typeof unsavedDataFlag === 'undefined') {
        let unsavedDataFlag = false;
      }

      //Show warning to user if there is unsaved data.
      window.addEventListener('beforeunload', (event) => {
        if (unsavedDataFlag) {
          event.preventDefault(); // For some older browsers
          event.returnValue = ''; // For chrome or firefox
          return ''; // for Safari
        }
      });
    </script>
  </body>
</html>