{% extends 'prodManagement/base.html' %}

{% block title %}
    Operations Bank
{% endblock title %}

{% block content %}
    <div class="{{theme.border}}">
        <form action="{% url 'operations' %}" method="get" autocomplete="off">
            <div class="grid grid-cols-10 {{theme.justify}} {{theme.align}}">
                <div class="flex flex-col col-[1/3] items-center">
                    <span class="text-sm text-gray-500 mb-1">Search:</span>
                    <input class="{{theme.textInput}}" name="search" value="{{search}}" placeholder="">
                </div>
                <div class="flex flex-col col-[3/5] items-center">
                    <span class="text-sm text-gray-500 mb-1">Section:</span>
                    <select name="sectionFilter" class="{{theme.dropdown}}" id="section" onchange="this.form.submit()"></select>
                </div>
                <div class="flex flex-col col-[5/6] items-center">
                    <span class="text-sm text-gray-500 mb-1">Skill Level:</span>
                    <select name="skillLevel" class="{{theme.dropdown}}" id="skillLevel" onchange="this.form.submit()">
                        <option value="null">All</option>
                        {% for i in "1234" %}
                            <option value="{{ i }}" {% if skillLevel == i %} selected {% endif %}
                                >{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="flex flex-col col-[6/8] items-center">
                    <span class="text-sm text-gray-500 mb-1">Machine Type:</span>
                    <select name="machineType" class="{{theme.dropdown}}" id="machineType" onchange="this.form.submit()"></select>
                </div>
                <div class="flex flex-col col-[8/10] items-center">
                    <span class="text-sm text-gray-500 mb-1">Min Rate/SAM:</span>
                    <input type="number" min="0" class="{{theme.textInput}}" name="ratePerSAM" value="{{ratePerSAM}}" placeholder="">
                </div>
                <div class="flex col-[10/11] btn-group {{theme.align}} justify-end">
                    <button type="submit" class="{{theme.buttonBasic}}">Search</button>
                </div>
            </div>
        </form>
    </div>

    <script> //To run when the page loads
        window.addEventListener('load', async () => {
            showLoadingIcon();

            let response = await fetch('/options/operations/sections');
            const sections = await response.json();
            await appendOptions('section', sections, '{{sectionFilter}}');

            response = await fetch('/options/machines/types');
            const machineTypes = await response.json();
            await appendOptions('machineType', machineTypes, '{{machineType}}');

            hideLoadingIcon();
        });
    </script>
    
    <script>    //This code runs at the time of loading. It should be at the end of the page.
    </script>
{% endblock content %}