{% extends 'prodManagement/base.html' %}

{% block title %}
    Worker Addition
{% endblock title %}

{% block content %}
    <form method="POST" id="machineForm" autocomplete="off">
        {% csrf_token %}          <!--This is to protect against CSRF attacks-->
        <div class="{{theme.border}}">
            <div class="grid grid-cols-4 my-2 {{theme.justify}} {{theme.align}}">
                <div class="flex col-[1/2] items-center">
                    <label class="mx-2 whitespace-nowrap">Code:&nbsp;* </label>
                    <input type="number" class="flex-grow {{theme.textInput}}" name="WorkerCode" value="{{ data.WorkerCode|default:'' }}" required>
                </div>
                <div class="flex col-[2/4] items-center">
                    <label class="mx-2 whitespace-nowrap">Name:&nbsp;* </label>
                    <input type="text" class="flex-grow {{theme.textInput}}" name="WorkerName" value="{{ data.WorkerName|default:'' }}" required>
                </div>
                <div class="flex col-[4/5] items-center">
                    <label class="mx-2 whitespace-nowrap">Birth Date:&nbsp; </label>
                    <input datepicker datepicker-buttons datepicker-autohide datepicker-format="yyyy-mm-dd" id="dateOfBirth"
                    name="DateOfBirth" type="text" class="{{theme.textInput}}" value="{{ data.DateOfBirth|default:'' }}">
                </div>
            </div>
            <div class="grid grid-cols-4 my-2 {{theme.justify}} {{theme.align}}">
                <div class="flex col-[1/3] items-center">
                    <label class="mx-2 whitespace-nowrap">Father/Spouse:&nbsp; </label>
                    <input type="text" class="flex-grow {{theme.textInput}}" name="FatherSpouseName" value="{{ data.FatherSpouseName|default:'' }}">
                </div>
                <div class="flex col-[3/4] items-center">
                    <label class="mx-2 whitespace-nowrap">Department:&nbsp; </label>
                    <select id="id_Department" class="{{theme.dropdown}}" name="Department"> </select>
                </div>
                <div class="flex col-[4/5] items-center">
                    <label class="mx-2 whitespace-nowrap">Section:&nbsp; </label>
                    <select id="id_Section" class="{{theme.dropdown}}" name="SubDepartment" > </select>
                </div>
            </div>
            <div class="grid grid-cols-4 my-2 {{theme.justify}} {{theme.align}}">
                <div class="flex col-[1/3] items-center">
                    <label class="mx-2 whitespace-nowrap">CNIC:&nbsp; </label>
                    <input type="text" class="flex-grow {{theme.textInput}}" name="CNIC" pattern="[0-9]{5}-[0-9]{7}-[0-9]{1}"
                    placeholder="11111-1111111-1" value="{{ data.CNIC|default:'' }}" >
                </div>
                <div class="flex col-[3/4] items-center">
                    <label class="mx-2 whitespace-nowrap">Status:&nbsp; </label>
                    <select class="{{theme.dropdown}}" name="Status">
                        <option value="null">----------</option>
                        <option value="Working">Working</option>
                        <option value="Left">Left</option>
                    </select>
                </div>
                <div class="flex col-[4/5] items-center">
                    <label class="mx-2 whitespace-nowrap">Gender:&nbsp; </label>
                    <select class="{{theme.dropdown}}" name="Gender">
                        <option value="null">----------</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
            <div class="grid grid-cols-4 my-2 {{theme.justify}} {{theme.align}}">
                <div class="flex col-[1/3] items-center">
                    <label class="mx-2 whitespace-nowrap">Registered User:&nbsp; </label>
                    <select id="id_Style" class="{{theme.dropdown}}" name="User" onclick="showSearchBox(this, '/options/users')">
                    </select>
                </div>
                <div class="flex col-[3/5] items-center">
                    <button type="submit" class="{{theme.buttonBasic}} mx-2" >Save</button>
                </div>
            </div>
        </div>
    </form>

    <script>    //To run when the page loads
        window.addEventListener('load', async () => {
            showLoadingIcon();

            let response = await fetch('/options/departments');
            const departments = await response.json();
            await appendOptions('id_Department', departments);

            response = await fetch('/options/operations/sections');
            const sections = await response.json();
            await appendOptions('id_Section', sections);

            hideLoadingIcon();
        });
    </script>
{% endblock content %}