{% extends 'base_print.html' %}

{% block title %}
    {{order.OrderNumber}}
{% endblock %}

{% block content %}
    <div class="row mt-3 {{theme.justify}} {{theme.align}} {{theme.textJustify}}">
        <div class="col col-md-11 {{theme.align}} {{theme.justify}} {{theme.border}}">
            <div class="{{theme.titleBold}}">SOFTWOOD PRIVATE LIMITED</div>
            <div class="{{theme.headingNormal}}">20-KM Off Ferozpur Road, Main Bazar Youhannabad, Lahore</div>
            <div class="{{theme.headingNormal}}">+92 042 35951191, info@softwoodtextiles.com</div>
        </div>
    </div>

    <div class="row mt-3 {{theme.justify}} {{theme.align}} {{theme.textJustify}}">
        <div class="col col-md-11 {{theme.align}} {{theme.justify}} {{theme.border}}">
            <div class="{{theme.headingBold}}">Cutting Plan</div>
        </div>
    </div>

    <div class="row mt-3 {{theme.justify}} {{theme.align}} {{theme.textJustify}}">
        <div class="col-2 {{theme.align}} {{theme.justify}} {{theme.border}}">
            <div class="{{theme.headingBold}}">Work Order:</div>
        </div>

        <div class="col-2 {{theme.align}} {{theme.justify}} {{theme.border}}">
            <div class="{{theme.headingNormal}}">{{order.OrderNumber}}</div>
        </div>
        
        <div class="col col-md-1"></div>
        
        <div class="col-2 {{theme.align}} {{theme.justify}} {{theme.border}}">
            <div class="{{theme.headingBold}}">Style:</div>
        </div>

        <div class="col-4 {{theme.align}} {{theme.justify}} {{theme.border}}">
            <div class="{{theme.headingNormal}}">{{order.StyleCode.StyleCode}}</div>
        </div>
    </div>

    <div class="row mt-0 {{theme.justify}} {{theme.align}} {{theme.textJustify}}">
        <div class="col-2 {{theme.align}} {{theme.justify}} {{theme.border}}">
            <div class="{{theme.headingBold}}">Excess Cut:</div>
        </div>

        <div class="col-2 {{theme.align}} {{theme.justify}} {{theme.border}}">
            <div class="{{theme.headingNormal}}">{{order.ExcessCut|floatformat:0}}%</div>
        </div>
        
        <div class="col col-md-1"></div>
        
        <div class="col-2 {{theme.align}} {{theme.justify}} {{theme.border}}">
            <div class="{{theme.headingBold}}">Customer:</div>
        </div>

        <div class="col-4 {{theme.align}} {{theme.justify}} {{theme.border}}">
            <div class="{{theme.headingNormal}}">{{order.Customer.Name}}</div>
        </div>
    </div>

    <div id="cuttingTable">
        <div class="row mt-3 {{theme.justify}} {{theme.textJustify}}">
        </div>        
        {% for var1, details in cut.items %}
            <div class="row mt-1">
                <div class="{{theme.headingBold}}">{{var1}}:</div>
            </div>
            <div class="row mt-0 {{theme.justify}} {{theme.align}} {{theme.textJustify}}">
                <div class="col {{theme.align}} {{theme.justify}} {{theme.border}}">
                    <div class="{{theme.headingBold}}">Variant</div>
                </div>
                {% for data in details %}
                    <div class="col {{theme.align}} {{theme.justify}} {{theme.border}}">
                        <div class="{{theme.headingBold}}">{{data.Variant2}}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-0 {{theme.justify}} {{theme.align}} {{theme.textJustify}}">
                <div class="col {{theme.align}} {{theme.justify}} {{theme.border}}">
                    <div class="{{theme.headingBold}}">PO Quantity</div>
                </div>
                {% for data in details %}
                    <div class="col {{theme.align}} {{theme.justify}} {{theme.border}}">
                        <div class="{{theme.headingNormal}}">{{data.POQuantity}}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-0 {{theme.justify}} {{theme.align}} {{theme.textJustify}}">
                <div class="col {{theme.align}} {{theme.justify}} {{theme.border}}">
                    <div class="{{theme.headingBold}}">Will Cut</div>
                </div>
                {% for data in details %}
                    <div class="col {{theme.align}} {{theme.justify}} {{theme.border}}">
                        <div class="{{theme.headingNormal}}">{{data.CutQuantity}}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-0 {{theme.justify}} {{theme.align}} {{theme.textJustify}}">
                <div class="col {{theme.align}} {{theme.justify}} {{theme.border}}">
                    <div class="{{theme.headingBold}}">Actual Cut</div>
                </div>
                {% for data in details %}
                    <div class="col {{theme.align}} {{theme.justify}} {{theme.border}}">
                        <div class="{{theme.headingNormal}}">{{data.ActualCut}} -</div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}