{% extends 'base.html' %}

{% block title %}
    Requisition Form
{% endblock %}

{% block content %}
    {% csrf_token %}

    <!-- Selection Form -->
    <form method="GET" id="reqForm" autocomplete="off" class="mb-6">
        <div class="flex flex-wrap gap-4 items-center bg-gray-800 p-4 rounded-lg">
            <div class="flex flex-col text-white">
                <label for="id_Group">Group:</label>
                <select id="id_Group" class="{{ theme.dropdown }}" name="Group" onchange="changeInvDropdown(this)"></select>
            </div>
            <div class="flex flex-col text-white">
                <label for="id_Inventory">Inventory*:</label>
                <select id="id_Inventory" class="{{ theme.dropdown }}" name="Inventory"></select>
            </div>
            <div class="flex flex-col text-white">
                <label for="id_Department">Department*:</label>
                <select id="id_Department" class="{{ theme.dropdown }}" name="Department"></select>
            </div>
            <div class="flex gap-2 mt-4">
                <button type="submit" class="{{ theme.buttonSecondary }}">Refresh</button>
                <button id="submit" class="{{ theme.buttonSecondary }}" onclick="addRequest()" type="button">Add</button>
            </div>
        </div>
    </form>

    <!-- Inventory Selection Table -->
    <form method="POST" id="inventoryForm" autocomplete="off">
        <div class="overflow-x-auto">
            <table class="{{theme.table}} w-full table-fixed border border-gray-600 text-left text-sm md:text-base text-white" id="inventoryTable">
                <thead class="bg-gray-900">
                    <tr>
                        <th class="px-4 py-2 text-left">
                            <input type="checkbox" onclick="selectAll(this)">
                        </th>
                        <th class="px-4 py-2 text-left">Receipt#</th>
                        <th class="px-4 py-2 text-left">Receipt Date</th>
                        <th class="px-4 py-2 text-left">Variant</th>
                        <th class="px-4 py-2 text-left">Supplier</th>
                        <th class="px-4 py-2 text-left">Available</th>
                        <th class="px-4 py-2 text-left">To Request</th>
                    </tr>
                </thead>
                <tbody class="bg-gray-800 divide-y divide-gray-700">
                    {% for data in entries %}
                        <tr>
                            <td class="px-4 py-2">
                                <input type="checkbox" class="form-check-input">
                            </td>
                            <td class="px-4 py-2">
                                <input type="text" class="{{ theme.textInput }}" value="{{ data.ReceiptNumber }}" name="ReceiptNo" readonly>
                            </td>
                            <td class="px-4 py-2">
                                <input type="text" class="{{ theme.textInput }}" value="{{ data.ReceiptDate }}" name="ReceiptDate" readonly>
                            </td>
                            <td class="px-4 py-2">
                                <input type="text" class="{{ theme.textInput }}" value="{{ data.Variant }}" name="Variant" readonly>
                            </td>
                            <td class="px-4 py-2">
                                <input type="text" class="{{ theme.textInput }}" value="{{ data.Supplier }}" name="Supplier" readonly>
                            </td>
                            <td class="px-4 py-2">
                                <input type="number" class="{{ theme.textInput }}" value="{{ data.Available }}" name="Available" readonly>
                            </td>
                            <td class="px-4 py-2">
                                <input type="number" max="{{ data.Available }}" class="{{ theme.textInput }}" value="{{ data.Available }}" name="Requested" onchange="checkQty(this)">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>




    <script> //To run when the page loads
        window.addEventListener('load', async () => {
            showLoadingIcon();

            //Inventory group Dropdown
            let response = await fetch('/options/groups/inventory');
            const groups = await response.json();
            await appendOptions('id_Group', groups, '{{selectedGroup}}');

            //Inventory Dropdown
            response = await fetch('/options/inventories?group={{selectedGroup}}');
            const inventories = await response.json();
            await appendOptions('id_Inventory', inventories, "{{selectedInv}}");
            $("#id_Inventory").chosen({
                search_contains: true,
                width: "100%"
            });

            //departments Dropdown
            response = await fetch('/options/departments');
            const departments = await response.json();
            await appendOptions('id_Department', departments, "{{department}}");
            //Since this dropdown is not part of a table, we need manually apply search box
            $("#id_Department").chosen({
                search_contains: true,
                width: "100%"
            });

            hideLoadingIcon();
        });
    </script>

    <script>  //To change inventory dropdown based on group
        async function changeInvDropdown(source) {
            showLoadingIcon();
            const group = source.value;

            //Inventory Dropdown
            const response = await fetch("/options/inventories?group="+group);
            const inventories = await response.json();

            $("#id_Inventory").chosen("destroy");
            await appendOptions('id_Inventory', inventories);
            $("#id_Inventory").chosen({
                search_contains: true,
                width: "100%"
            });
            hideLoadingIcon();
        }
    </script>

    <script> //To select all visible rows
        function selectAll(box) {
            const checkStatus = box.checked;

            const table = box.parentElement.parentElement.parentElement.parentElement.parentElement;
            const numberOfRows = table.children[0].children.length;

            for (let i=1; i<numberOfRows;i++) {
                const row = table.querySelector('[row="'+i+'"]');
                const rowCheck = row.children[0].children[0];
                const filterStatus = (row.style.display === '');

                rowCheck.checked = false;

                if (filterStatus) {
                    rowCheck.checked = checkStatus;
                }
            } 
        }
    </script>

    <script> //To filter rows based on search items
        function changeSearch(source) {
            //get search term and make it case insenstive
            const searchTerm = source.value.toLowerCase();

            //Get the table in html form
            const tableHTML = document.getElementById('inventoryTable').children[0].children;

            //Conver the html table to array and remove header
            const table = Array.from(tableHTML);
            table.shift();

            for (const row of table) {
                const cells = row.children;

                let matchFlag = false;
                for (const cell of cells) {
                    const cellValue = cell.children[0].value.toLowerCase();

                    if (cellValue.includes(searchTerm)) {
                        matchFlag = true;
                        break;
                    }
                }
                row.style.display = matchFlag ? '':'none';
            }

            //Set the table unchecked to avoid any problems
            const checkBox = tableHTML[0].children[0].children[0].children[0];
            checkBox.checked = false;
            selectAll(checkBox);
        }

        function changeDropdown(source) {
            const options = source.options;
            const selectedCodes = [];
            for (const option of options) {
                if (option.selected) {
                    selectedCodes.push(option.value)
                }
            }

            //Get the table in html form
            const tableHTML = document.getElementById('inventoryTable').children[0].children;

            //Conver the html table to array and remove header
            const table = Array.from(tableHTML);
            table.shift();

            if (selectedCodes.length != 0) {
                for (const row of table) {
                    const code = row.children[1].children[0].value;
    
                    const flag = selectedCodes.includes(code);
                    row.style.display = flag ? '':'none';
                }
            } else {
                for (const row of table) {
                    row.style.display = '';
                }
            }
            
            //Set the table unchecked to avoid any problems
            const checkBox = tableHTML[0].children[0].children[0].children[0];
            checkBox.checked = false;
            selectAll(checkBox);
        }

        function clearInput(source) {
            searchBox = source.parentElement.children[0];
            searchBox.value = '';
            changeSearch(searchBox);
            searchBox.focus();
        }
    </script>

    <script> //To make requisition for selected items
        async function addRequest() {
            const inventoryForm = document.getElementById('inventoryForm');
            const rows = inventoryForm.children;

            let selectedRows = [];

            for (const row of rows) {
                const rowNumber = row.getAttribute('row');
                const checkStatus = row.children[0].children[0].checked;

                if (rowNumber>0 && checkStatus) {
                    selectedRows.push(row);
                }
            }
            delete rows, inventoryForm;

            if (selectedRows.length === 0) {
                alert('No inventory is selected');
                return
            }
            let data = {};
            for (const row of selectedRows) {
                data = prepareReqData(row, data);
            }

            const reqForm = document.getElementById('reqForm');
            const reqData = reqForm.children[0].children;

            const inventory = reqData[1].children[1].value;     

            const department = reqData[2].children[1].value;  
            if (department === 'null') {
                alert('Please select your department');
                return
            }
            
            data['req_Department'] = department;
            data['req_Inventory'] = inventory;

            data = JSON.stringify(data);

            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            const response = await fetch('', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf},
            });

            if (response.ok) {
                const reqNumber = await response.text();
                window.open(reqNumber+'/edit', '_blank');
                window.location.reload();
            } else {
                const errorMessage = await response.text();
                showMessage(errorMessage);
            }
        }

        function prepareReqData(row, data) {
            const variant = row.querySelector("[name='Variant']").value;
            const Quantity = row.querySelector("[name='Requested']").value;
            const rowNum = row.getAttribute('row');

            data['data_Variant_'+rowNum] = variant;
            data['data_Quantity_'+rowNum] = Quantity;


            return data;
        }

    </script>

    <script> //This is in response to a bug where would add more qty than received
        function checkQty(source) {
            const qty = parseFloat(source.value);
            const maxQty = parseFloat(source.getAttribute('max'));

            if (maxQty < qty) {
                source.value = maxQty;
            }
        }
    </script>

    <script> //Run this at the time of page loading. This should be at the end of all scripts
        
    </script>
{% endblock %}