{% extends 'base.html' %}

{% block title %}
    Requisitions
{% endblock %}

{% block content %}
    <div class="{{theme.border}}">
        {% csrf_token %}
        <p>
            <div class="row g-3 {{theme.justify}} {{theme.align}}">
                <div class="col {{theme.textJustify}}">
                    <form action="{% url 'requisition' %}" method="get">
                        <select id="departmentFilter" name="departmentFilter" onchange="this.form.submit()" class="{{theme.dropdown}}">
                            <option value="">  ---------  </option>
                        </select>
                        <input type="hidden" name="searchTerm" value="{{ searchTerm }}">
                        <input type="hidden" name="requisitionNumber" value="{{ selectedRequisition }}">
                    </form>
                </div>
                <div class="col btn-group {{theme.textJustify}}">
                    <a class="{{theme.buttonBasic}}" role="button" href="/requisition/add/order" target="_blank">Add For Order</a>
                    <a class="{{theme.buttonBasic}}" role="button" href="/requisition/add/inv" target="_blank">Add For Inventory</a>
                    <a id="editReqButton" class="{{theme.buttonBasic}}" role="button" target="_blank">Edit</a>
                    <a id="addIssueButton" class="{{theme.buttonBasic}}" role="button" target="_blank">Issue</a>
                </div>
            </div>
        </p>
        <p>
            <div class="row g-0 {{theme.justify}} {{theme.align}}">
                <div class="col-2 {{theme.textJustify}}">
                    <form action="{% url 'requisition' %}" method="get">
                        <input type="number" min="1" class="{{theme.textInput}} w-100" name="requisitionNumber" placeholder="Requisition Number" value="{{selectedRequisition}}">
                </div>
                <div class="col-2 {{theme.textJustify}}">
                    <select name="statusFilter" onchange="this.form.submit()" class="{{theme.dropdown}}">
                        <option value="Pending" {% if selectedStatus == "Pending" %}selected{% endif %}> Pending  </option>
                        <option value="Closed" {% if selectedStatus == "Closed" %}selected{% endif %}> Closed  </option>
                    </select>
                </div>
                <div class="col-6 {{theme.textJustify}}">
                    <input type="text" class="{{theme.textInput}} w-100" name="searchTerm" placeholder="Search Requisition" value="{{searchTerm}}">
                </div>
                <div class="col-2 btn-group {{theme.textJustify}}">
                    <button type="submit" class="{{theme.buttonBasic}}">Search</button>
                </div>
                    <input type="hidden" name="departmentFilter" value="{{ selectedDepartment }}">
                    </form>
            </div>
        </p>
    </div>

    <div id ="requisitionTable">
        <table class="{{theme.table}}">
            <tr class = "{{theme.tableHead}}">
                <th scope="col">Select</th>
                <th scope="col">Requisition#</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Department</th>
                <th scope="col">Demand By</th>
                <th scope="col">Inventory (Top 3)</th>
            </tr>
            <tbody id="tableData" class = "{{theme.tableBody}}">
                {% for data in req %}
                    <tr>
                        <td><input type="radio" name="item_checkbox"></td>
                        <td class="requisition">{{ data.id }}</td>
                        <td>{{ data.Date }}</td>
                        <td>{{ data.Time }}</td>
                        <td>{{ data.Department }}</td>
                        <td>{{ data.RequestBy }}</td>
                        <td>{{ data.Name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>//To change the buttons based on selection in radio
        $("#tableData").on("click", "input[type='radio']", function() {
            //Get the code against seletion
            const selectedCode = $(this).closest("tr").find("td.requisition").text();
            
            //Find and link the edit card button to the selected code            
            button = $("#editReqButton");           
            button.attr("href", "/requisition/" + selectedCode + "/edit");

            //Find and link the edit card button to the selected code            
            button = $("#addIssueButton");           
            button.attr("href", "/issuance/add?req="+selectedCode);
        });
    </script>

    <script>//To run when the page loads
        window.addEventListener('load', async () => {
            //Departments dropdown
            let response = await fetch('/options/departments');
            const departments = await response.json();
            await appendOptions('departmentFilter', departments, '{{selectedDepartment}}');
            //Apply Search Box
            $("#departmentFilter").chosen({
                search_contains: true,
                width: "100%"
            });
        });
    </script>
{% endblock %}