{% extends 'base.html' %}

{% block title %}
    Copying Inventory
{% endblock %}

{% block content %}
    <br><br>
    <form method="POST" >
        {% csrf_token %}          <!--This is to protect against CSRF attacks-->
        <input id = "source" type="text" class="{{theme.textInput}}" name="source" value="{{source.id}}">
        <p class="help-text">Source PD#:</p> 
        <p class="{{theme.textInput}}">{{source.Demandee}} ({{source.Department.Name}})</p>
        <p class="help-text">Details:</p> 
        <button type="submit" class="btn btn-dark">
        Create Copy
        </button>
    </form> 
{% endblock %}