{% extends 'base.html' %}

{% block title %}
    Delete {{object.id}}
{% endblock %}

{% block content %}
<h1>Warning!</h1>
<p>Are you sure you want to delete this?</p>
<h1>Purchase Demand Number: {{object.id}}</h1>
<h1>Department: {{object.Department.Name}}</h1>

<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" name="confirm" value="true">          <!--Save Button-->
        Yes, I am sure
    </button>
    <a class="btn btn-dark" href="/purchasedemand" role="button">Go back</a> 
</form>

<script>    //To show error mesage to user
    function showErrorMessage() {
        const error = '{{error}}';
        if (error) {
            showMessage(error, 5);
        }
    }
</script>

<script>    //This code runs when the page is fully loaded.
    window.addEventListener('load', async () => {
        showErrorMessage();
    });
</script>
{% endblock %}