{% extends 'base.html' %}

{% block title %}
    Purchase Demand Update
{% endblock %} 

{% block content %}
    {% csrf_token %}          <!--This is to protect against CSRF attacks-->

    <!-- The main Demand form-->
    <p>
        <form method="POST" id="demandForm" autocomplete="off">
            <div class="row g-3 bg-info {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="col-2 d-flex {{theme.align}} {{theme.justify}}">
                    <label>PD:&nbsp; </label>
                    <input type="number" class="{{theme.textInput}}" value="{{demand.DemandNumber}}" name="DemandNumber" readonly>
                </div>
                <div class="col-4 d-flex {{theme.align}} {{theme.justify}}">
                    <label>Department:&nbsp; </label>
                    <select id="id_Department" class="{{theme.dropdown}}" name="Department"> </select>
                </div>
                <div class="col-3 d-flex {{theme.align}} {{theme.justify}}">
                    <label>Name:&nbsp; </label>
                    <input type="text" class="{{theme.textInput}}" value="{{demand.Demandee}}" name="Demandee">
                </div>
                <div class="col-2 d-flex {{theme.align}} {{theme.justify}}">
                    <label>Date:&nbsp; </label>
                    <input type="text" class="{{theme.textInput}}" value="{{demand.DemandDate|date:'d/m/Y'}}" name="DemandDate" id="demandDate" readonly>
                </div>
                <div class="col-1 {{theme.align}} {{theme.textJustify}}">
                    <button id="submit" class="{{theme.buttonSecondary}}" onclick="submitForms()" type="button">          <!--Save Button-->
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </p>
    <!--Inventory Table-->
    <div id="inventoryTable" name="invTable">
        <form method="POST" id="inventoryForm" autocomplete="off">
            <div class="row mt-3 {{theme.justify}} {{theme.textJustify}} bg-dark text-white" row="0">    
                <div class="col-3">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Inventory Code
                    </div>
                </div>
                <div class="col-2">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Variant
                    </div>
                </div>
                <div class="col-2">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Quantity
                    </div>
                </div>
                <div class="col-1">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Price
                    </div>
                </div>
                <div class="col-2">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Currency
                    </div>
                </div>
                <div class="col-1">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Forex
                    </div>
                </div>
                <div class="col-1">
                    <div class="{{theme.secondaryHeading}} {{theme.textJustify}}">
                        Actions
                    </div>
                </div>
            </div>
            {% for data in inv %}
                <div class="row mt-1 {{theme.justify}} {{theme.textJustify}}" row="{{forloop.counter}}">
                    <div class="col-3" chosen="true">
                        <select class="{{theme.dropdown}}" id="id_InventoryCode_{{forloop.counter}}" name="InvCode"></select>
                    </div>
                    <div class="col-2">
                        <input type="text" class="{{theme.textInput}}" value="{{data.Variant}}" name="Variant">
                    </div>
                    <div class="col-2">
                        <input type="number" class="{{theme.textInput}}" value="{{data.Quantity}}" name="Quantity">
                    </div>
                    <div class="col-1">
                        <input type="number" class="{{theme.textInput}}" value="{{data.Price}}" name="Price">
                    </div>
                    <div class="col-2">
                        <select class="{{theme.dropdown}}" id="id_Currency_{{forloop.counter}}" name="Currency"></select>
                    </div>
                    <div class="col-1">
                        <input type="number" class="{{theme.textInput}}" value="{{data.Forex}}" name="Forex">
                    </div>
                    <div class="col-1">
                        <button class="{{theme.plusButton}}" type="button" onclick="addRow(this)">
                            <span>+</span>
                        </button>
                        <button class="{{theme.minusButton}}" type="button" onclick="removeRow(this)">
                            <span>-</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </form>   
    </div>

    <script> //To run after page loads.
        window.addEventListener('load', async () => {
            showLoadingIcon();

            //Purchase Order dropdowns
            response = await fetch('/options/departments');
            const departments = await response.json();
            await appendOptions('id_Department', departments, "{{demand.Department}}");
            $("#id_Department").chosen({
                search_contains: true,
                width: "100%"
            });

            //Inventory data, that was passed as JSON from view
            const inventoryData = {{ invJson|safe }};

            //Inventory Cards dropdowns
            response = await fetch('/options/inventories');
            const inventories = await response.json();
            
            //Apply the relevant dropdowns on all rows of consumption
            for (const [index, data] of inventoryData.entries()) {
                await appendOptions(`id_InventoryCode_${index+1}`, inventories, data.Inventory);
            }
            
            response = await fetch('/options/currencies');
            const currencies = await response.json();

            //Apply the relevant dropdowns on all rows of consumption
            for (const [index, data] of inventoryData.entries()) {
                await appendOptions(`id_Currency_${index+1}`, currencies, data.Currency);
            }

            addSearchBox();

            delete response;

            hideLoadingIcon();
        });
    </script>

    <script> //To send data to server
        function submitForms() {
            const allForms = document.forms;

            const demandForm = allForms['demandForm']; 
            const inventoryForm = allForms['inventoryForm'];            
            
            const demand = demandForm.elements;

            let data = {};
             
            //Prepare the data for Style Group
            let group = 'demand';
            for (const element of demand) {
                if (element.name) {
                    data[group+'_'+element.name] = element.value;
                }   
            }

            //Prepare the data for inventory Group
            data = formToTable('inventory', inventoryForm, data);
            
            submitData(data)
        }

        //Convert data to Json and send to server
        async function submitData(obj) {
            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            
            const data = JSON.stringify(obj);
            
            //console.log (csrf);
            const response = await fetch('', {
              method: 'POST',
              body: data,
              headers: { "X-CSRFToken": csrf},
            });

            if (response.status == 200) {
                const demandNumber = await response.text();
                window.location.reload();
            } else {
                const errorMessage = await response.text();
                showMessage(errorMessage);
                return
            }
            
        }

        function formToTable(group, form, data){
            let rows = form.querySelectorAll('.row');
            //Remove unnecesary rows
            rows = dropElements(rows);

            for (const row of rows) {
                let rowNum = row.getAttribute('row');
                let cols = row.children;
                //Remove unnecessary columns
                cols = dropElements(cols, cols.length-1, cols.length-1);

                for (const col of cols) {
                    name = col.firstElementChild.name+'_'+rowNum;
                    value = col.firstElementChild.value;
                    data[group+'_'+name] = value;               
                }
            }
            return data;
        }

        function dropElements(obj, startFrom=0, endAt=0) {
            const arr = Object.values(obj);

            arr.splice(startFrom, endAt - startFrom + 1);

            return arr;
        }
    </script>

    <script> //To run at the start of the page. This should be at the end of the page.
    </script>
{% endblock %}