{% extends 'quality_base.html' %}

{% block title %}
    Trim Audit History
{% endblock title %}

{% block content %}
    <div class="{{theme.border}} bg-base-100 dark:bg-gray-900 p-4">
    <form action="{% url 'trimAudit' %}" method="get" class="grid grid-cols-6 gap-2 items-center">
        <!-- Supplier Dropdown -->
        <div class="col-span-1">
            <select id="supplierFilter" name="supplier" onchange="this.form.submit()" class="{{theme.dropdown}} w-full min-h-[2.5rem]">
                <option disabled selected>Supplier</option>
            </select>
        </div>

        <!-- Inventory Dropdown -->
        <div class="col-span-1">
            <select id="inventoryFilter" name="inventory" onchange="this.form.submit()" class="{{theme.dropdown}} w-full min-h-[2.5rem]">
                <option disabled selected>Inventory</option>
            </select>
        </div>

        <!-- Start Date -->
        <div class="col-span-1">
            <input id="startDate" type="text" name="startDate" placeholder="Start Date"
                value="{{startDate|date:'m/d/Y'}}" class="{{theme.textInput}} w-full min-h-[2.5rem]" autocomplete="off">
        </div>

        <!-- End Date -->
        <div class="col-span-1">
            <input id="endDate" type="text" name="endDate" placeholder="End Date"
                value="{{endDate}}" class="{{theme.textInput}} w-full min-h-[2.5rem]" autocomplete="off">
        </div>

        <!-- Approval Dropdown -->
        <div class="col-span-1">
            <select name="approval" onchange="this.form.submit()" class="{{theme.dropdown}} w-full min-h-[2.5rem]">
                <option value="false" {% if approval == False %} selected {% endif %}>Rejected</option>
                <option value="true" {% if approval == True %} selected {% endif %}>Approved</option>
                <option value="null" {% if approval == None %} selected {% endif %}>All</option>
            </select>
        </div>

        <!-- Filter Button -->
        <div class="col-span-1 flex justify-center">
            <button type="submit"
                class="bg-primary text-white w-full min-h-[2.5rem] px-4 py-2 rounded hover:bg-primary/90">
                Filter
            </button>
        </div>
    </form>
</div>



    <div id="AuditsTable" class="mt-4 {{theme.border}} bg-base-100 dark:bg-gray-900 p-4">
        <table class="{{theme.table}} w-full">
            <thead class="{{theme.tableHead}}">
                <tr>
                    <th scope="col">Receipt Date</th>
                    <th scope="col">Receipt #</th>
                    <th scope="col">Name</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Approval</th>
                    <th scope="col">Comments</th>
                </tr>
            </thead>
            <tbody id="tableData" class="{{theme.tableBody}}">
                {% for data in audits %}
                <tr class="{{theme.tableBodyRow}}">
                    <td>{{ data.ReceiptDate }}</td>
                    <td><a href="/trims/audit/{{ data.RecInventory }}/edit" class="{{theme.hyperLink}}">{{ data.ReceiptNumber }}</a></td>
                    <td>{{ data.Name }}</td>
                    <td>{{ data.Supplier }}</td>
                    <td>
                        {% if data.Approval %}
                            <span class="{{theme.trueClass}}">{{theme.trueValue}}</span>
                        {% else %}
                            <span class="{{theme.falseClass}}">{{theme.falseValue}}</span>
                        {% endif %}
                    </td>
                    <td>{{ data.QualityComments }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        window.addEventListener('load', async () => {
            showLoadingIcon();

            let response = await fetch('/options/suppliers');
            const suppliers = await response.json();
            await appendOptions('supplierFilter', suppliers, '{{supplier}}');
            $("#supplierFilter").chosen({
                search_contains: true,
                width: "100%"
            });

            response = await fetch('/options/inventories?group=Trim');
            const inventories = await response.json();
            await appendOptions('inventoryFilter', inventories, '{{inventory}}');
            $("#inventoryFilter").chosen({
                search_contains: true,
                width: "100%"
            });

            hideLoadingIcon();
        });

        $('#startDate').datepicker();
        $('#endDate').datepicker();
    </script>
{% endblock content %}
