{% extends 'quality_base.html' %}


{% block title %}
    Trims Audit
{% endblock title %}


{% block content %}
    {% csrf_token %}         <!--This is to protect against CSRF attacks-->
    
    <div id="auditTable" name="auditTable">  
        <form method="post" id="auditForm" autocomplete="off">
            {% for receipt in inv %}  
                <div class="row mt-1" row="0">
                    <div class="col">
                        <div class="row {{theme.justify}} {{theme.textJustify}} {{theme.border}}" row="{{forloop.counter}}" row="1">
                            <input class="{{theme.textInput}}" readonly
                            value="Supplier: {{receipt.Supplier}}, Receipt: {{receipt.ReceiptNumber}}">
                            {% for data in receipt.Details %}
                                <div class="col-6 mt-1 {{theme.justify}} {{theme.textJustify}}">
                                    <input class="{{theme.textInput}} bg-dark text-white" readonly
                                    value="{{data.Name}} {% if data.Variant %} ({{data.Variant}}) {% endif %}">
                                    <input class="{{theme.textInput}}" readonly
                                    value="Total Qty: {{data.Quantity}}, Audit Qty: {{data.AuditQuantity}}">

                                    <div class="row mt-1 {{theme.justify}} {{theme.textJustify}}" row="2">
                                        <div class="col-4">
                                            <div class="{{theme.textJustify}} {{theme.border}}">
                                                Check List
                                            </div> 
                                        </div>
                                        <div class="col-3">
                                            <div class="{{theme.textJustify}} {{theme.border}}">
                                                Approval
                                            </div>  
                                        </div>
                                        <div class="col-3">
                                            <div class="{{theme.textJustify}} {{theme.border}}">
                                                Comemnts
                                            </div>  
                                        </div>
                                        <div class="col-2">
                                            <div class="{{theme.textJustify}} {{theme.border}}">
                                                Actions
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="row mt-1 {{theme.justify}} {{theme.textJustify}}" row="3">
                                        <div class="col-4" chosen="true">
                                            <select class="{{theme.dropdown}}" id="id_CheckList_{{data.RecInvId}}_{{receipt.ReceiptNumber}}" name="CheckList_{{data.RecInvId}}_{{receipt.ReceiptNumber}}">
                                                {% for option in checkListOptions %}
                                                    <option value="{{option.value}}">{{option.text}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <select class="{{theme.dropdown}}" id="id_Approval_{{data.RecInvId}}_{{receipt.ReceiptNumber}}" name="Approval_{{data.RecInvId}}_{{receipt.ReceiptNumber}}">
                                                <option value="null">Pending</option>
                                                <option value="true">Approved</option>
                                                <option value="false">Rejected</option>
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <input type="text" class="{{theme.textInput}}" value="" name="Comments_{{data.RecInvId}}_{{receipt.ReceiptNumber}}">
                                        </div>
                                        <div class="col-2">
                                            <button class="{{theme.plusButton}}" type="button" onclick="addRow(this)">
                                                <span>+</span>
                                            </button>
                                            <button class="{{theme.minusButton}}" type="button" onclick="removeRow(this, 2)">
                                                <span>-</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>            
            {% endfor %}  
            <a class="{{theme.buttonBasic}}" role="button" onclick="submitForms()">Save</a>
        </form>
    </div>

    <script>    //To send data to server
        async function submitForms(){
            showLoadingIcon();

            const audit = document.forms['auditForm'].elements;

            let data = {};
            for (const element of audit) {
                if (element.name) {
                    const rowNum = element.parentElement.parentElement.getAttribute('row');
                    data[`${element.name}_${rowNum}`] = element.value;
                }
            }
            const response = await submitData(data);

            if (response.ok) {
                window.location.reload();
            } else {
                const error = await response.text();
                showMessage(error);
            }
            
            hideLoadingIcon();
        }

        async function submitData(obj) {
            const data = JSON.stringify(obj);

            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            
            const response = await fetch('/trims/audit/add', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf},
            });
            
            return response
        }
    </script>
{% endblock content %}