{% extends 'quality_base.html' %}

{% block title %}
    Trims Audit
{% endblock title %}

{% block content %}
    {% csrf_token %}  <!-- This is to protect against CSRF attacks -->
    
    <div id="auditTable" name="auditTable">  
        <form method="post" id="auditForm" autocomplete="off">
            {% for receipt in inv %}  
                <div class="mt-1" row="0">
                    <div>
                        <div class="flex justify-between text-center border-b" row="{{forloop.counter}}" row="1">
                            <input class="w-full p-2 text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded-md" readonly
                            value="Supplier: {{receipt.Supplier}}, Receipt: {{receipt.ReceiptNumber}}">
                            
                            {% for data in receipt.Details %}
                                <div class="mt-1 flex flex-col">
                                    <input class="w-full p-2 text-sm bg-gray-800 text-white border border-gray-700 rounded-md" readonly
                                    value="{{data.Name}} {% if data.Variant %} ({{data.Variant}}) {% endif %}">
                                    
                                    <input class="w-full p-2 text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded-md" readonly
                                    value="Total Qty: {{data.Quantity}}, Audit Qty: {{data.AuditQuantity}}">

                                    <div class="mt-1 flex justify-between">
                                        <div class="w-1/4">
                                            <div class="p-2 text-center bg-gray-200 border border-gray-300 rounded-md">
                                                Check List
                                            </div> 
                                        </div>
                                        <div class="w-1/4">
                                            <div class="p-2 text-center bg-gray-200 border border-gray-300 rounded-md">
                                                Approval
                                            </div>  
                                        </div>
                                        <div class="w-1/4">
                                            <div class="p-2 text-center bg-gray-200 border border-gray-300 rounded-md">
                                                Comments
                                            </div>  
                                        </div>
                                        <div class="w-1/4">
                                            <div class="p-2 text-center bg-gray-200 border border-gray-300 rounded-md">
                                                Actions
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="mt-1 flex justify-between">
                                        <div class="w-1/4">
                                            <select class="w-full p-2 text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded-md" id="id_CheckList_{{data.RecInvId}}_{{receipt.ReceiptNumber}}" name="CheckList_{{data.RecInvId}}_{{receipt.ReceiptNumber}}">
                                                {% for option in checkListOptions %}
                                                    <option value="{{option.value}}">{{option.text}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="w-1/4">
                                            <select class="w-full p-2 text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded-md" id="id_Approval_{{data.RecInvId}}_{{receipt.ReceiptNumber}}" name="Approval_{{data.RecInvId}}_{{receipt.ReceiptNumber}}">
                                                <option value="null">Pending</option>
                                                <option value="true">Approved</option>
                                                <option value="false">Rejected</option>
                                            </select>
                                        </div>
                                        <div class="w-1/4">
                                            <input type="text" class="w-full p-2 text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded-md" value="" name="Comments_{{data.RecInvId}}_{{receipt.ReceiptNumber}}">
                                        </div>
                                        <div class="w-1/4 flex justify-center">
                                            <button class="bg-green-500 text-white p-2 rounded-full mx-1" type="button" onclick="addRow(this)">
                                                <span>+</span>
                                            </button>
                                            <button class="bg-red-500 text-white p-2 rounded-full mx-1" type="button" onclick="removeRow(this, 2)">
                                                <span>-</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>            
            {% endfor %}  

            <div class="mt-4 flex justify-center">
                <a class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 cursor-pointer" role="button" onclick="submitForms()">Save</a>
            </div>
        </form>
    </div>

    <script>
        // To send data to server
        async function submitForms(){
            showLoadingIcon();

            const audit = document.forms['auditForm'].elements;

            let data = {};
            for (const element of audit) {
                if (element.name) {
                    const rowNum = element.parentElement.parentElement.getAttribute('row');
                    data[`${element.name}_${rowNum}`] = element.value;
                }
            }
            const response = await submitData(data);

            if (response.ok) {
                window.location.reload();
            } else {
                const error = await response.text();
                showMessage(error);
            }
            
            hideLoadingIcon();
        }

        async function submitData(obj) {
            const data = JSON.stringify(obj);

            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            
            const response = await fetch('/trims/audit/add', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf },
            });
            
            return response;
        }
    </script>
{% endblock content %}
