{% extends 'quality_base.html' %}

{% block title %}
    Trims Audit
{% endblock title %}

{% block content %}
    <div id="auditTable" name="auditTable">
        <form method="post" id="auditForm" autocomplete="off">
            {% csrf_token %} <!-- This is to protect against CSRF attacks -->
            
            <div class="mt-1">
                <div>
                    <div class="flex flex-col border-b p-2">
                        <div class="w-full">
                            <input class="w-full p-2 text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded-md" readonly
                                value="Supplier: {{audit.supplier}}, Receipt: {{audit.ReceiptNumber}}">
                        </div>
                        
                        <div class="w-full">
                            <div class="flex justify-between">
                                <div class="w-3/4">
                                    <input class="w-full p-2 text-sm bg-gray-800 text-white border border-gray-700 rounded-md" readonly
                                        value="{{audit.Inventory}} {% if audit.Variant %} ({{audit.Variant}}) {% endif %}">
                                </div>
                                <div class="w-1/4 flex justify-end">
                                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Save</button>
                                </div>
                            </div>
                        </div>

                        <div class="w-full">
                            <input class="w-full p-2 text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded-md" readonly
                                value="Total Qty: {{audit.Quantity}}, Audit Qty: {{audit.AuditQuantity}}">
                        </div>

                        <div class="mt-1">
                            <div class="flex justify-between bg-gray-800 text-white p-2">
                                <div class="w-1/4 text-center">
                                    <div class="border border-gray-500">
                                        Check List
                                    </div> 
                                </div>
                                <div class="w-1/4 text-center">
                                    <div class="border border-gray-500">
                                        Approval
                                    </div>  
                                </div>
                                <div class="w-1/4 text-center">
                                    <div class="border border-gray-500">
                                        Comments
                                    </div>  
                                </div>
                                <div class="w-1/4 text-center">
                                    <div class="border border-gray-500">
                                        Actions
                                    </div>  
                                </div>
                            </div>       

                            {% for auditData in audit.audit %}
                                <div class="flex justify-between mt-1" row="{{forloop.counter}}">
                                    <div class="w-1/4">
                                        <select class="w-full p-2 text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded-md" id="id_CheckList_{{forloop.counter}}" name="CheckList" required>
                                            {% for option in checkListOptions %}
                                                <option value="{{option.value}}" {% if option.value == auditData.CheckList %} selected {% endif %}> 
                                                    {{option.text}}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="w-1/4">
                                        <select class="w-full p-2 text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded-md" name="Approval" required>
                                            <option value="true" {% if auditData.Approval %} selected {% endif %}>Approved</option>
                                            <option value="false" {% if not auditData.Approval %} selected {% endif %}>Rejected</option>
                                        </select>
                                    </div>
                                    <div class="w-1/4">
                                        <input type="number" value="{{auditData.id}}" name="id" hidden="true">
                                        <input type="text" class="w-full p-2 text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded-md" value="{{auditData.Comments}}" name="Comments">
                                    </div>
                                    <div class="w-1/4 flex justify-center space-x-2">
                                        <button class="bg-green-500 text-white p-2 rounded-full hover:bg-green-600" type="button" onclick="addRow(this)">
                                            <span>+</span>
                                        </button>
                                        <button class="bg-red-500 text-white p-2 rounded-full hover:bg-red-600" type="button" onclick="removeRow(this)">
                                            <span>-</span>
                                        </button> 
                                    </div>
                                </div>
                            {% endfor %}
                        </div>      
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        // This code runs when the page is fully loaded
        window.addEventListener('load', async () => {
            showLoadingIcon(200);

            // Apply search on dropdown where needed
            await addSearchBox();

            showErrorMessage();

            hideLoadingIcon();
        });
    </script>

    <script>
        // To show error message to user
        function showErrorMessage() {
            const errorMessage = '{{error}}';
            if (errorMessage) {
                showMessage(errorMessage);
            } 
        }
    </script>
{% endblock content %}
