{% extends 'prodManagement/base.html' %}

{% block title %}
    Core Sheet Addition
{% endblock title %}

{% block content %}
    {% csrf_token %}          <!--This is to protect against CSRF attacks-->
    <form method="POST" id="cuttingForm" autocomplete="off">
        <div class="{{theme.border}}">
            <div class="grid grid-cols-2 my-2 {{theme.justify}} {{theme.align}}">
                <div class="flex col-[1/2] items-center">
                    <label class="mx-2 whitespace-nowrap">Work Order:&nbsp; </label>
                    <select id="id_Style" class="{{theme.dropdown}}" name="StyleCard" onclick="showSearchBox(this, '/producitivty/core-sheet/orders/missing')" required>
                    </select>
                </div>
                <div class="flex col-[2/3] items-center">
                    <button type="button" class="{{theme.buttonBasic}} mx-2" onclick="SendForm()">Save</button>
                    <a class="{{theme.buttonBasic}}" role="button" onclick="showSummary()">Summarise</a>
                </div>
            </div>
        </div>
    </form>

    <form method="POST" id="cuttingBundleForm" autocomplete="off">
        <div class="{{theme.border}}">
            <div class="grid grid-cols-2 mt-4 px-3 {{theme.border}} {{theme.tableHead}}">
                <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                    <div class="grid grid-cols-3 mt-4 px-3 {{theme.border}} {{theme.tableHead}}">
                        <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                            <div class="{{theme.primaryHeading}} {{theme.textJustify}} text-xs">
                                Cut:
                            </div>
                        </div>
                        <div class="flex col-[2/4] {{theme.align}} {{theme.justify}}">
                            <input type="number" class="flex-grow {{theme.textInput}}" name="Cut">
                        </div>
                        <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                            <div class="{{theme.primaryHeading}} {{theme.textJustify}} text-xs">
                                Shade:
                            </div>
                        </div>
                        <div class="flex col-[2/4] {{theme.align}} {{theme.justify}}">
                            <input type="text" class="flex-grow {{theme.textInput}}" name="Shade">
                        </div>
                        <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                            <div class="{{theme.primaryHeading}} {{theme.textJustify}} text-xs">
                                Shrinkage:
                            </div>
                        </div>
                        <div class="flex col-[2/4] {{theme.align}} {{theme.justify}}">
                            <input type="text" class="flex-grow {{theme.textInput}}" name="Shrinkage">
                        </div>
                        <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                            <div class="{{theme.primaryHeading}} {{theme.textJustify}} text-xs">
                                Inseam:
                            </div>
                        </div>
                        <div class="flex col-[2/4] {{theme.align}} {{theme.justify}}">
                            <input type="text" class="flex-grow {{theme.textInput}}" name="Inseam">
                        </div>
                        <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                            <div class="{{theme.primaryHeading}} {{theme.textJustify}} text-xs">
                                No. Of Plies:
                            </div>
                        </div>
                        <div class="flex col-[2/4] {{theme.align}} {{theme.justify}}">
                            <input type="number" class="flex-grow {{theme.textInput}}" name="NoOfPlies">
                        </div>
                        <div class="flex col-[1/4] {{theme.align}} {{theme.justify}}">
                            <div class="grid grid-cols-4 x-3 {{theme.justify}} {{theme.align}} {{theme.border}}" row="1">
                                <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                                    <div class="{{theme.primaryHeading}} {{theme.textJustify}} text-xs">
                                        Bundle
                                    </div>
                                </div>
                                <div class="flex col-[2/3] {{theme.align}} {{theme.justify}}">
                                    <div class="{{theme.primaryHeading}} {{theme.textJustify}} text-xs">
                                        Size
                                    </div>
                                </div>
                                <div class="flex col-[3/4] {{theme.align}} {{theme.justify}}">
                                    <div class="{{theme.primaryHeading}} {{theme.textJustify}} text-xs">
                                        Qty
                                    </div>
                                </div>
                                <div class="flex col-[4/5] {{theme.align}} {{theme.justify}}">
                                    <div class="{{theme.primaryHeading}} {{theme.textJustify}} text-xs">
                                        Actions
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="flex col-[1/4] {{theme.align}} {{theme.justify}}">
                            <div class="grid grid-cols-4 x-3 {{theme.justify}} {{theme.align}} {{theme.border}}" row="1">
                                <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                                    <input type="number" class="flex-grow {{theme.textInput}}" name="Bundle">
                                </div>
                                <div class="flex col-[2/3] {{theme.align}} {{theme.justify}}">
                                    <input type="text" class="flex-grow {{theme.textInput}}" name="Size">
                                </div>
                                <div class="flex col-[3/4] {{theme.align}} {{theme.justify}}">
                                    <input type="number" class="flex-grow {{theme.textInput}}" name="Quantity">
                                </div>
                                <div class="flex col-[4/5] space-x-1 {{theme.align}} {{theme.justify}}">
                                    <button class="{{theme.plusButton}}" type="button" onclick="addRow(this)">
                                        <span>+</span>
                                    </button>
                                    <button class="{{theme.minusButton}}" type="button" onclick="removeRow(this)">
                                        <span>-</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
                <div class="flex col-[2/3] {{theme.align}} {{theme.justify}}">
                    <div class="grid grid-cols-3 mt-4 px-3 {{theme.border}} {{theme.tableHead}}">
                        Cell 2
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>    //To show summary to user
        async function showSummary() {
            showMessage('In process');
        }
    </script>
{% endblock content %}