{% extends 'prodManagement/base.html' %}

{% block title %}
    Core Sheets
{% endblock title %}
    
{% block content %}
    <div class="{{theme.border}}">
        <form action="{% url 'coreSheets' %}" method="get" autocomplete="off">
            <div class="grid grid-cols-12 {{theme.justify}} {{theme.align}}">
                <div class="flex flex-col col-[1/5] items-center">
                    <span class="text-sm text-gray-500 mb-1">Search:</span>
                    <input type="text" class="{{theme.textInput}}" name="search" value="{{search}}" placeholder="">
                </div>
                <div class="flex flex-col col-[5/10] items-center">
                    <span class="text-sm text-gray-500 mb-1">Work Order:</span>
                    <select id="workOrder" name="workOrder" class="{{theme.dropdown}}" onclick="showSearchBox(this, '/options/workorders')" value="{{workOrder}}"></select>
                </div>
                <div class="flex col-[10/13] btn-group {{theme.align}} justify-end ml-1">
                    <button type="submit" class="{{theme.buttonBasic}}">Search</button>
                    <a class="{{theme.buttonBasic}}" href="{% url 'addCoreSheet' %}" role="button">Add</a>
                </div>
            </div>
        </form>
    </div>
    
    <div id="csTable" class="mt-6">
        <table class="{{theme.table}}">
            <tr class = "{{theme.tableHead}}">
                <th scope="col">Work Order</th>
                <th scope="col">Quantity</th>
                <th scope="col">Cuts</th>
                <th scope="col">Bundles</th>
                <th scope="col">Sizes</th>
            </tr>
            <tbody id="tableData" class = "{{theme.tableBody}}">
                {% for data in coreSheets %}
                    <tr class="{{theme.tableBodyRow}}">
                        <td class="{{theme.hyperLink}}"><a href="{% url 'editCoreSheet' workOrder=data.WorkOrder %}">{{ data.WorkOrder }}</a></td>
                        <td>{{ data.Quantity }}</td>
                        <td>{{ data.Cuts }}</td>
                        <td>{{ data.Bundles }}</td>
                        <td>{{ data.Sizes }}</td>
                    </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>

    <script> //To run when the page loads
        window.addEventListener('load', async () => {
            showLoadingIcon();

            let response = await fetch('/options/workorders');
            const workOrders = await response.json();

            await appendOptions(`workOrder`, workOrders, '{{workOrder}}');


            hideLoadingIcon();
        });
    </script>
{% endblock content %}